<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'brick/style.css' %}">
<!--    <meta http-equiv="refresh" content="1">-->
    <title>Brick</title>
</head>
<body>

    <div class="container">
        <h1 class="title">Рандомазер</h1>

        <div class="content">
            {% for index in context %}
                <p>{{index}}</p>
            {% endfor %}
        </div>

            <form action="" method="get">
                <button class="button">Обновить</button>
            </form>
    </div>
</body>
</html>