html, body {
    margin-top: 0;
    padding-top: 0;
  }

.container{
    max-width: 1200px;
    margin: auto;
    padding-bottom: 100%;
    background-color: aliceblue;
}

.title{
    text-align: center;
}

.content{
    margin-top: 50px;
    text-align: center;
}

.button{
    size: 25px;
}